<!--<h5>Buscar Animaciones:</h5>
<input 
    type="text" 
    class="form-control" 
    placeholder="Buscar Animaciones..."
    (keyup.enter)="buscar()"
    #txtBuscar>-->

<!--<section class="webdesigntuts-workshop">
	<form action="" method="">		    
		<input type="buscar" placeholder="Buscar Animación...">		    	
		<button>Buscar</button>
	</form>
</section>-->
<!--<p></p>-->


<!--<a class="button <mat-button-blue>" href="#" (click)="buscar()"><span>Buscar:</span></a>-->

	<h1 class="h1" style="color:#f7f3f3">Buscar Animaciones</h1>

<div class="flexsearch">
		<div class="flexsearch--wrapper">
			<form class="flexsearch--form" action="#" method="post">
				<div class="flexsearch--input-wrapper">
					<input class="flexsearch--input" type="text" type="buscar" placeholder="Buscar..." (keyup.enter)="buscar()" #txtBuscar >
				</div>
				<input class="flexsearch--submit" type="buscar"/>
                <a class="button <button-blue>" href="#" (click)="buscar()"><span>Buscar:</span></a>
			</form>
		</div>
</div>